In [12]:
print('running')

running

## data load

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('employee.dataset.csv')

In [6]:
df.shape

(1000, 26)

In [7]:
df.sample(3)

,Employee_ID,Age,Gender,Marital_Status,Department,Job_Role,Job_Level,Monthly_Income,Hourly_Rate,Years_at_Company,...,Overtime,Project_Count,Average_Hours_Worked_Per_Week,Absenteeism,Work_Environment_Satisfaction,Relationship_with_Manager,Job_Involvement,Distance_From_Home,Number_of_Companies_Worked,Attrition
891,892,41,Male,Married,HR,Assistant,4,10162,93,18,...,Yes,8,40,4,1,1,2,37,2,No
230,231,20,Female,Single,Sales,Executive,2,3692,97,14,...,Yes,2,56,0,4,3,4,7,1,Yes
354,355,52,Male,Single,IT,Executive,5,5038,63,3,...,No,2,49,4,4,4,1,33,2,No

In [9]:
df.shape

(1000, 26)

In [10]:
df.head

<bound method NDFrame.head of       Employee_ID  Age  Gender Marital_Status Department   Job_Role  \
0               1   58  Female        Married         IT    Manager
1               2   48  Female        Married      Sales  Assistant
2               3   34    Male        Married  Marketing  Assistant
3               4   27  Female       Divorced  Marketing    Manager
4               5   40    Male       Divorced  Marketing  Executive
..            ...  ...     ...            ...        ...        ...
995           996   27  Female       Divorced         HR    Analyst
996           997   47    Male         Single         IT    Manager
997           998   50  Female       Divorced         IT  Executive
998           999   28  Female        Married         HR  Executive
999          1000   48  Female       Divorced         IT    Analyst

     Job_Level  Monthly_Income  Hourly_Rate  Years_at_Company  ...  Overtime  \
0            1           15488           28                15  ...        No
1            5           13079           28                 6  ...       Yes
2            1           13744           24                24  ...       Yes
3            1            6809           26                10  ...        No
4            1           10206           52                29  ...        No
..         ...             ...          ...               ...  ...       ...
995          2            4172           76                24  ...        No
996          4           11007           71                19  ...       Yes
997          1            4641           43                25  ...       Yes
998          4           19855           92                13  ...        No
999          2           11738           39                 1  ...       Yes

     Project_Count  Average_Hours_Worked_Per_Week  Absenteeism  \
0                6                             54           17
1                2                             45            1
2                6                             34            2
3                9                             48           18
4                3                             33            0
..             ...                            ...          ...
995              4                             46           10
996              7                             36           16
997              1                             46            9
998              4                             52           17
999              2                             59            5

     Work_Environment_Satisfaction  Relationship_with_Manager Job_Involvement  \
0                                4                          4               4
1                                4                          1               2
2                                3                          4               4
3                                2                          3               1
4                                4                          1               3
..                             ...                        ...             ...
995                              3                          1               4
996                              3                          2               4
997                              2                          3               3
998                              4                          1               4
999                              1                          4               3

     Distance_From_Home  Number_of_Companies_Worked  Attrition
0                    20                           3         No
1                    25                           2         No
2                    45                           3         No
3                    35                           3         No
4                    44                           3         No
..                  ...                         ...        ...
995                  24                           4         No
996                  39                           3        Yes
997                  33                           2         No
998                  41                           4         No
999                  43                           2         No

[1000 rows x 26 columns]>

In [11]:
df.tail

<bound method NDFrame.tail of       Employee_ID  Age  Gender Marital_Status Department   Job_Role  \
0               1   58  Female        Married         IT    Manager
1               2   48  Female        Married      Sales  Assistant
2               3   34    Male        Married  Marketing  Assistant
3               4   27  Female       Divorced  Marketing    Manager
4               5   40    Male       Divorced  Marketing  Executive
..            ...  ...     ...            ...        ...        ...
995           996   27  Female       Divorced         HR    Analyst
996           997   47    Male         Single         IT    Manager
997           998   50  Female       Divorced         IT  Executive
998           999   28  Female        Married         HR  Executive
999          1000   48  Female       Divorced         IT    Analyst

     Job_Level  Monthly_Income  Hourly_Rate  Years_at_Company  ...  Overtime  \
0            1           15488           28                15  ...        No
1            5           13079           28                 6  ...       Yes
2            1           13744           24                24  ...       Yes
3            1            6809           26                10  ...        No
4            1           10206           52                29  ...        No
..         ...             ...          ...               ...  ...       ...
995          2            4172           76                24  ...        No
996          4           11007           71                19  ...       Yes
997          1            4641           43                25  ...       Yes
998          4           19855           92                13  ...        No
999          2           11738           39                 1  ...       Yes

     Project_Count  Average_Hours_Worked_Per_Week  Absenteeism  \
0                6                             54           17
1                2                             45            1
2                6                             34            2
3                9                             48           18
4                3                             33            0
..             ...                            ...          ...
995              4                             46           10
996              7                             36           16
997              1                             46            9
998              4                             52           17
999              2                             59            5

     Work_Environment_Satisfaction  Relationship_with_Manager Job_Involvement  \
0                                4                          4               4
1                                4                          1               2
2                                3                          4               4
3                                2                          3               1
4                                4                          1               3
..                             ...                        ...             ...
995                              3                          1               4
996                              3                          2               4
997                              2                          3               3
998                              4                          1               4
999                              1                          4               3

     Distance_From_Home  Number_of_Companies_Worked  Attrition
0                    20                           3         No
1                    25                           2         No
2                    45                           3         No
3                    35                           3         No
4                    44                           3         No
..                  ...                         ...        ...
995                  24                           4         No
996                  39                           3        Yes
997                  33                           2         No
998                  41                           4         No
999                  43                           2         No

[1000 rows x 26 columns]>

## data cleaning

# Missing values check

In [13]:
df.isnull().sum()

 Employee_ID                     0
Age                              0
Gender                           0
Marital_Status                   0
Department                       0
Job_Role                         0
Job_Level                        0
Monthly_Income                   0
Hourly_Rate                      0
Years_at_Company                 0
Years_in_Current_Role            0
Years_Since_Last_Promotion       0
Work_Life_Balance                0
Job_Satisfaction                 0
Performance_Rating               0
Training_Hours_Last_Year         0
Overtime                         0
Project_Count                    0
Average_Hours_Worked_Per_Week    0
Absenteeism                      0
Work_Environment_Satisfaction    0
Relationship_with_Manager        0
Job_Involvement                  0
Distance_From_Home               0
Number_of_Companies_Worked       0
Attrition                        0
dtype: int64

# Missing values fill

In [ ]:
df[""].mean()